*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body{
   justify-content: center;
   display: flex;
   perspective: inherit;
}
.contianer {
    
    margin-top: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    
    text-align: center;
    border-radius: 20px;
    transform: translateZ(45deg);
}
.card{
    
    background-color:steelblue;
    margin: 20px;
    border-radius: 20px;
}
.sneaker{
    margin: 50px 20px 20px 20px;
    
}
.circle{
    border-radius: 50%;
    margin-left: 25%;
    align-self: center;
    background-color: rgb(251, 80, 13);
    width: 200px;
    height: 200px;
}
img{
    
    transform: rotate(315deg);
    image-rendering: crisp-edges;
}

.main{
    
    margin: 20px 0px 20px 0px;
}
.title{
    margin-top: 40px;
}
.stats{
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    margin: 0px;
    padding: 30px;
    display: flex;
    background-color: orangered;
    border-radius: 0px 0px 20px 20px;
}
.f2{
    
    margin-left:auto;
}


